<html>
    <head>
        <title>Ghost World</title>
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>
        Hi, this is Ghost and the head is Ghost mohit bro.
    </body>
</html>
